@media only screen and (max-width:768px) {
    .navlinks-container{
         display: none;
    }
    .header {
         width: 350px;
    }
    
   #changeBg {
    display: block;
    background-color:#000000;
    color: #fff;
    width: 100px;
    padding: 8px;
    border-radius: 20px;
    border: none;
    text-transform: capitalize;
}
    .mobile-header{
        display: none;
        padding: 10px;
        background-color: wheat;
        box-shadow:5px 2px 5px 5px rgba(0, 0, 0, 0.144);
        position:absolute;
        z-index: 1;
        left: 10px;
        width: 350px;

        animation-name: Xaxis;
        animation-duration: .9s;
        animation-timing-function: ease-out;
    }
    @keyframes  Xaxis {
        0%{ transform: translateY(-150px);}
    }
    #moblink{
        display: block;
        padding: 30px;
        text-align: center;
        text-decoration: none;
        font-weight: bolder;
        font-size: 1.5rem;
        letter-spacing: 2px;
        border-bottom: 1.5px solid black;
        text-transform: capitalize;
        color: black;
    }
    #mobheaderbtn{
        background-color:#000000;
        color: #fff;
        width: 150px;
        padding: 10px;
        border-radius: 20px;
        border: none;
        text-transform: capitalize;
        margin-left:  120px;
        margin-top: 20px;
    }
    .section-1 {
        flex-wrap: wrap;
        position:relative;
    }
    #menuBtn{
        display: block;
        background-color: transparent;
    }
    .sub-section-1{
        text-align: center;
        font-size: medium;
    }
    #flex-p {
        font-weight: 400px;
        font-size: 25px;
        text-transform: lowercase;
        padding: 20px;
        line-height: 30px;
        letter-spacing: 5px;

    }
    #kribtext{
        text-align: center;
        font-size: medium;
    }
    #modern-house{
        height: 300px;
        width: 300px;
        border-radius: 50px;
    }
    .overlapping-container{
          flex-wrap: wrap;
    }
    .firstdiv{
        border: 1.5px solid black;
         box-shadow: 0px 0px 0px 0px black;
         margin: 10px;
         padding: 5px;
         text-align: center;
    }
    #downtext{
         padding: 20px;
    }
    .grid-flex-container , .gridContainer{
         display: flex;
         flex-wrap: wrap;
    }
     #gridTExt , #gridText2{
         text-align: center;
     }
     .featureSelector{
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
     }
     :where(#duplex, #apartment ,#studio , #bungalow){
        margin: 5px;
     }
     .feature-homes{
        display: flex;
        flex-wrap: wrap;
     }
     .homeBox{
        margin: 40px;
     }
     #house{
         margin-left: 60px;
     }
    .innerdiv{
        display: flex;
        background-color: #909090a4;
        margin-left: 15px;
    }
    #houseName ,#housePrice{
        text-align: center;
    }
    .newsLettrContainer{
        flex-wrap: wrap;
    }
    #susHouse{
        height: 300px;
        width: 300px;
    }
    #susBtn{
         background-color:black;
         color: white;
         position: relative;
         bottom: 65px;
         left: 178px;
         
    }
    
.articleHouses {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 20px;
}
.inner2{
     flex-wrap: wrap;
}
.innerFooter{
    flex-wrap: wrap;
}

#more{
    background-color:#000000;
    color: #fff;
    width: 190px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    text-transform: capitalize;
     margin: 100px;
}


    
}