*{
     padding: 0;
     margin: 0;
}
body {
     background-color: #F7F8FA;

}
.header{
     background-color: #EBEBEB;;
     margin: 20px auto;
     width: 900px;
     border-radius: 30px;
}
.navContainer{
     display: flex;
     justify-content: flex-end;
     padding: 30px;
}
.logo-text{
     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
     margin-right: auto;
     font-weight: bolder;
     font-size: x-large;
     text-transform: capitalize;
}
.navlinks-container a {
     text-decoration: none;
     font-weight: 400;
     font-size: 20px;
     text-transform: capitalize;
     color: black;
     margin-right: 40px;
}
#headerbtn {
    background-color:#000000;
    color: #fff;
    width: 100px;
    padding: 8px;
    border-radius: 20px;
    border: none;
    text-transform: capitalize;
}
#changeBg{
       display: block;
       background-color:transparent;
       color: #fff;
       width: 100px;
       padding: 8px;
       border-radius: 20px;
       border: none;
}

#menuBtn {
    background-color:#000000;
    color: #fff;
    width: 100px;
    padding: 8px;
    border-radius: 20px;
    border: none;
    text-transform: capitalize;
    display: none;
}

.mobile-header{
       display:none;
}
/* section-1 code */
.section-1 {
      display: flex;
      justify-content: space-evenly;
      margin-top: 90px;
}
#first-txt{
     font-size: 80px;
     font-weight: 400;
     text-transform: capitalize;
     padding: 20px;
}
#kribtext{
     color: #000000;
     font-weight: 700px;
     font-size: 110px;
     text-transform: capitalize;
     word-spacing: 90px;
     padding: 10px;
}
#spn-1{
    font-weight: 700px;
    font-size: 110px;
    color: #302524;
    text-transform: capitalize;
    padding: 10px;
}
#discover-txt {
     font-weight: 500;
     font-size: 24px;
     color: #969696;
     padding-left: 20px;
}
#discoverbtn{
    background-color:#000000;
    color: #fff;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    text-transform: capitalize;
    margin-top: 10px;
    margin-left: 20px;
}
#modern-house{
      height: 500px;
      width: 500px;
      border-radius: 50px;
}
.overlapping-container{
      display: flex;
      justify-content: space-evenly;
      padding: 15px;
      align-items: center;
}

.firstOutterContainer {
     background-color:#fff;
     margin: 20px auto;
     border: 1.5px solid black;
     border-radius: 20px;
}

.firstdiv{
      padding: 10px;
      width: 350px;
      border: none;
      border-right: 2px solid  #D4D4D4;
      text-align:center ;
}
#downtext{
      padding-top: 20px; 
      font-size: medium;
      font-weight: normal;
      text-transform: capitalize;
      text-align: center;
}
.fa-solid {
      padding-right: 10px;
     
}
#searchBtn{
     background-color: #000000;
     width: 100px;
     height: 80px;
     border-radius: 50%;
     margin-top: 10px;
     margin-left: 10px;
     border:none;
     outline: navy;
}

.gridContainer{
      display: grid;
      grid-template-columns: repeat(2 , 1fr);
      padding: 50px;
      width:  500px;
}
.gridBOX{
      background-color:#000000;
      margin: 20px;
      width: 250px;
      padding: 10px;
      border-radius: 20px;
}
#gridTExt{
      font-size: 19px ;
      font-weight: bold;
      text-transform: capitalize;
      color: #FFFFFF;
      padding-left:5px;
}
#gridText2{
      font-weight: bolder;
      font-size: xx-large;
      color: #FFFFFF;
      padding-top: 70px;
}
.sided-container{
      width: 550px;
      padding: 50px;
}
#flexFirst-text{
      color: greenyellow;
      color: #000000;
      font-weight: lighter;
      font-size: 50px;
      text-transform: capitalize;
      padding: 20px;
      letter-spacing: 5px;
}
#spn-2 {
     color: #000000;
     font-weight: bold;
     font-size: 50px;
     text-transform: capitalize;
}
#flex-p {
      font-weight: 400px;
      font-size: 21px;
      text-transform: lowercase;
     
      line-height: 30px;
      letter-spacing: 5px;
}
#flexFirst-text{
       text-align: center;
}
.grid-flex-container{
      display: flex;
      justify-content: space-evenly;
      background-color: #F7F8FA;
}

#play-btn{
     position: relative;
      left: 20px;
      top: 9px;
      bottom: 30px;
      font-weight: bold;
      font-size: 21px;
      text-transform: lowercase;
      height: 70px;
      width: 80px;
      border: solid black 1.5px;
      border-radius: 200px;
}
.features-props{
       background-color:#EBEBEB;
}
#features_text{
       text-align: center;
       color: #000000;
       font-weight: bold;
       font-size: 50px;
       text-transform: capitalize;
}
.featureSelector{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
}
:where(#duplex, #apartment ,#studio , #bungalow){
    background-color:#000000;
    color: #fff;
    width: 170px;
    padding: 19px;
    border-radius: 20px;
    border: none;
    text-transform: capitalize;
    margin: 25px;
    letter-spacing: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
}
.f{
      display: flex;
      justify-content: center;
      align-items: center;
}
.feature-homes{
      display: grid;
      grid-template-columns: repeat(3 , 1fr);
      justify-content: center;
      align-items: center;
}
#house{
       height: 250px;
       width: 250px;
}
#houseName{
      color: #000000;
      font-weight: bold;
      font-size: 2rem;
      text-transform: capitalize;
}
.innerdiv{
       display: flex;
       background-color: #909090a4;
       padding: px;
       width: 350px;
       border-radius: 20px;
       margin: 10px;
       margin-right: 10px;
}
:where(#gym ,#solar,#location){
      text-align: center;
      font-size: medium;
      font-weight: normal;
      margin:5px;
}
#housePrice{
      color: #000000;
      font-weight: bold;
      font-size: 2rem;
      text-transform: capitalize;
      padding-top: 9px;
}
.pageNumbers {
       color: red;
       display: flex;
       align-items: center;
       justify-content: center;
       margin: 20px;
}
#numbers {
       padding: 5px;
       margin: 10px;
       color: #000000;
       font-weight: bold;
       font-size: 2rem;
       text-transform: capitalize;
}
.num1{
       background-color: rgba(0, 0, 0, 0.486);
       backdrop-filter: blur(20px);
       color: white;
       border-radius: 5px;
       padding: 5px;
}
.fa-chevron-right{
      margin-left: 10px;
}
#suscribe{
      color: #000000;
      font-weight: bold;
      font-size: 2rem;
      text-transform: lowercase;
      letter-spacing: 3px;
}
#news {
       text-transform: capitalize;
}
#sustext {
       color: #969696;
       color: #000000;
       font-weight: bold;
       font-size: 2rem;
       letter-spacing: 3px;
       line-height: 40px;
}
 input {
       padding: 20px;
       border-radius: 20px;
       border: none;
       border-color: #EBEBEB;
       width: 250px;
       margin: 10px;
 }
 #susBtn {
      background-color:#000000;
      color: #fff;
      width: 120px;
      padding: 20px;
      border-radius: 20px;
      border: none;
      text-transform: capitalize;
      position: relative;
      right: 125px;
 }
 #susHouse {
      height: 500px;
      width: 500px;
      margin: 15px; 
 }
 .newsLettrContainer{
       display: flex;
       border: .5px solid black;
       border-radius: 30px;
 }
 .cont1{
       margin: 50px;
 }
 #articleText{
     font-weight: bold;
      text-align: center;
      text-transform: capitalize;
      font-size: 3rem;
 }
 #innerArt{
       font-size: 3rem;
        font-weight: bolder;
 }
 .articleP{
      text-align: center;
      font-size: large;
      font-size: 1.5rem;
      padding-top: 15px;
      letter-spacing: 2.5px;
 }
 #inner {
       display: block;
 }
#articleHouse{
 height: 200px;
 width: 200px;
 padding-bottom: 5px;
}
.artContent{
       padding: 10px;
}
.read{
       font-weight: bolder;
}
.houseCard{
       width: 300px;
       text-align: center;
       line-height: 25px;
        border-radius: 20px;
       box-shadow:5px -2px 5px 5px rgba(0, 0, 0, 0.144);
       margin-top: 30px;
       margin-left: 40px;
}
.articleHouses {
       display: flex;
       justify-content: center;
       align-items: center;
}
#more{
            background-color:#000000;
            color: #fff;
            width: 190px;
            padding: 15px;
            border-radius: 20px;
            border: none;
            text-transform: capitalize;
            margin-left: 550px;
            margin-top: 60px;
            margin-bottom: 20px;
}

.footer{ 
      background-color: #EBEBEB;
;
}
.innerFooter{
      display: flex;
      justify-content: space-around;
      align-items: center;
}
.inner2{
      display: flex;
      padding: 10px;
      margin-top: 20px;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      background-color:#E1E1E1;
    
}
#kribs{
       margin-top: 40px;
       font-weight: bold;
       text-align: center;
       text-transform: capitalize;
       font-size: 2.5rem;
}
.footerBtn{
       background-color: black;
       color: white;
       width: 120px;
       border-radius: 20px;
       padding: 20px;
       font-weight: bolder;
       cursor: pointer;
}
:where(#about, #properties ,#blogs ){
      margin: 20px;
      font-weight: bold;
      text-align: center;
      text-transform: capitalize;
      font-size: 1.5rem;
  }