*{
     padding: 0;
     margin: 0;
}
body {
     background-color: #F7F8FA;

}
.header{
     background-color: #EBEBEB;;
     margin: 20px auto;
     width: 900px;
     border-radius: 30px;
}
.navContainer{
     display: flex;
     justify-content: flex-end;
     padding: 30px;
}
.logo-text{
     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
     margin-right: auto;
     font-weight: bolder;
     font-size: x-large;
     text-transform: capitalize;
}
.navlinks-container a {
     text-decoration: none;
     font-weight: 400;
     font-size: 20px;
     text-transform: capitalize;
     color: black;
     margin-right: 40px;
}
#headerbtn {
    background-color:#000000;
    color: #fff;
    width: 100px;
    padding: 8px;
    border-radius: 20px;
    border: none;
    text-transform: capitalize;
}
/* section-1 code */
.section-1 {
      display: flex;
      justify-content: space-evenly;
      margin-top: 90px;
}
#first-txt{
     font-size: 80px;
     font-weight: 400;
     text-transform: capitalize;
     padding: 20px;
}
#kribtext{
     color: #000000;
     font-weight: 700px;
     font-size: 110px;
     text-transform: capitalize;
     word-spacing: 90px;
     padding: 10px;
}
#spn-1{
    font-weight: 700px;
    font-size: 110px;
    color: #302524;
    text-transform: capitalize;
    padding: 10px;
}
#discover-txt {
     font-weight: 500;
     font-size: 24px;
     color: #969696;
     padding-left: 20px;
}
#discoverbtn{
    background-color:#000000;
    color: #fff;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    text-transform: capitalize;
    margin-top: 10px;
    margin-left: 20px;
}
#play-btn {
    border: 2px solid black;
    width: 45px;
    height: 50px;
    border-radius: 50px;
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 10px;
}
#modern-house{
      height: 500px;
      width: 500px;
      border-radius: 50px;
}
.overlapping-container{
      display: flex;
      justify-content: space-evenly;
      padding: 15px;
      align-items: center;
}
.firstOutterContainer {
     background-color:#fff;
     margin: 20px auto;
     width: 900px;
     border: 1.5px solid black;
     border-radius: 20px;
}
.firstdiv{
      padding: 10px;
      width: 200px;
      flex-basis: 100px;
      border: none;
      border-right: 2px solid  #D4D4D4;
      text-align: start;
}
#downtext{
      padding-top: 20px; 
      font-size: medium;
      font-weight: normal;
      text-transform: capitalize;
}
.fa-solid {
      padding-right: 10px;
}
#searchBtn{
     background-color: #000000;
     width: 100px;
     height: 80px;
     border-radius: 50%;
     margin-top: 10px;
     margin-left: 10px;
}